<div class="container">
    <app-title-bar title="Crear un nuevo usuario"></app-title-bar>
    <div class="content">
        <div class="create-form-container mat-elevation-z8">
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                <p class="input">
                    <mat-form-field appearance="outline">
                        <mat-label>Primer Nombre</mat-label>
                        <input matInput required name="pt-firstName" [value]="this.createUserForm.get('firstName').value" [formControlName]="'firstName'">
                        <mat-error *ngIf="!createUserForm.get('firstName').valid">El primer nombre es un campo requerido con un maximo de 50 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput required name="pt-lastName" [formControlName]="'lastName'">
                        <mat-error *ngIf="!createUserForm.get('lastName').valid">El apellido es un campo requerido con un maximo de 50 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput required name="pt-birthDate" type="date" [formControlName]="'birthDate'">
                        <mat-error *ngIf="!createUserForm.get('birthDate').valid">La fecha de nacimiento es un campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput required name="pt-email" type="email" [formControlName]="'email'">
                        <mat-error *ngIf="!createUserForm.get('email').valid">El correo es un campo requerido y debe ser un email valido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Número de Telefono</mat-label>
                        <input matInput required name="pt-phoneNumber" [formControlName]="'phoneNumber'">
                        <mat-error *ngIf="!createUserForm.get('phoneNumber').valid">El numero de telefono es un campo requerido de 10 digitos</mat-error>
                    </mat-form-field>
                </p>
        
                <div class="options">
                    <button mat-raised-button color="secondary" type="button" (click)="onClickBack()" >Regresar</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>